In [2]:
import pandas as pd
import numpy as np

In [29]:
check_data=pd.read_pickle('data10000.pkl')

In [30]:
check_data=pd.DataFrame(check_data)

In [31]:
check_data=check_data.rename(columns={0:"check_total"})

In [32]:
check_data['queso_ordered']=np.random.randint(0,2, size=(len(data)))

In [33]:
check_data.head()

   check_total  queso_ordered
0    20.514800              1
1    18.183037              1
2    19.242994              1
3    18.930169              1
4    21.716147              0

In [35]:
check_data.queso_ordered.value_counts()

0    5038
1    4962
Name: queso_ordered, dtype: int64

In [43]:
check_data=pd.read_csv('check_data.csv')

In [44]:
check_data=check_data.rename(columns={'Unnamed: 0':"check_number"})

In [49]:
check_data.head()

   check_number  check_total  queso_ordered
0             0    24.175857              1
1             1    17.736371              0
2             2    24.085144              1
3             3    22.686712              1
4             4    20.249250              0

In [51]:
check_data.to_csv(r'check_data.csv', index=False)